@fxt-facebook: #3b5998;
@fxt-twitter: #00acee;
@fxt-google: #CC3333;
@fxt-instagram: #3f729b;
@fxt-linkedin: #0077B5;
@fxt-youtube: #c4302b;
@fxt-pinterest: #bd081c;
@fxt_link_color: #63bbff;

/**************************************

/*=======================================================================
1. Typography
=========================================================================*/

html {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.7;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #646464;
    background-color: #fff;
}

p {
    margin: 0 0 20px 0;
    color: #646464;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 20px 0;
    color: #111;
}

h1,
h2 {
    line-height: 1.2;
}

h3,
h4,
h5,
h6 {
    line-height: 1.4;
}

h1 {
    font-size: 36px;

    @media only screen and (max-width: 1199px) {
        font-size: 34px;
    }

    @media only screen and (max-width: 991px) {
        font-size: 32px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 30px;
    }
}

h2 {
    font-size: 28px;

    @media only screen and (max-width: 1199px) {
        font-size: 26px;
    }

    @media only screen and (max-width: 991px) {
        font-size: 24px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 22px;
    }
}

h3 {
    font-size: 22px;

    @media only screen and (max-width: 991px) {
        font-size: 20px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 18px;
    }
}

h4 {
    font-size: 20px;

    @media only screen and (max-width: 991px) {
        font-size: 18px;
    }

    @media only screen and (max-width: 767px) {
        font-size: 16px;
    }
}

h5 {
    font-size: 18px;

    @media only screen and (max-width: 991px) {
        font-size: 16px;
    }
}

/*=======================================================================
2. Template Default Style
=========================================================================*/

a {
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
    outline: 0 none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.fxt-content-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fxt-none-767 {
    @media only screen and (max-width: 767px) {
        display: none !important;
    }
}

.fxt-none-991 {
    @media only screen and (max-width: 991px) {
        display: none !important;
    }
}

/*========================================================================
3. Template Animation
=========================================================================*/

.fxt-template-animation {
    position: relative;
    z-index: 1;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    .fxt-transformY-50 {
        opacity: 0;
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
    }
}

.loaded.fxt-template-animation {
    opacity: 1;

    .fxt-transformY-50 {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

    .fxt-transition-delay-1 {
        -webkit-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .fxt-transition-delay-2 {
        -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    .fxt-transition-delay-3 {
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    .fxt-transition-delay-4 {
        -webkit-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .fxt-transition-delay-5 {
        -webkit-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

    .fxt-transition-delay-6 {
        -webkit-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        transition-delay: 0.6s;
    }

    .fxt-transition-delay-7 {
        -webkit-transition-delay: 0.7s;
        -o-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }

    .fxt-transition-delay-8 {
        -webkit-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        transition-delay: 0.8s;
    }

    .fxt-transition-delay-9 {
        -webkit-transition-delay: 0.9s;
        -o-transition-delay: 0.9s;
        transition-delay: 0.9s;
    }

    .fxt-transition-delay-10 {
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s;
    }

    .fxt-transition-delay-11 {
        -webkit-transition-delay: 1.1s;
        -o-transition-delay: 1.1s;
        transition-delay: 1.1s;
    }

    .fxt-transition-delay-12 {
        -webkit-transition-delay: 1.2s;
        -o-transition-delay: 1.2s;
        transition-delay: 1.2s;
    }

    .fxt-transition-delay-13 {
        -webkit-transition-delay: 1.3s;
        -o-transition-delay: 1.3s;
        transition-delay: 1.3s;
    }

    .fxt-transition-delay-14 {
        -webkit-transition-delay: 1.4s;
        -o-transition-delay: 1.4s;
        transition-delay: 1.4s;
    }

    .fxt-transition-delay-15 {
        -webkit-transition-delay: 1.5s;
        -o-transition-delay: 1.5s;
        transition-delay: 1.5s;
    }

    .fxt-transition-delay-16 {
        -webkit-transition-delay: 1.6s;
        -o-transition-delay: 1.6s;
        transition-delay: 1.6s;
    }

    .fxt-transition-delay-17 {
        -webkit-transition-delay: 1.7s;
        -o-transition-delay: 1.7s;
        transition-delay: 1.7s;
    }

    .fxt-transition-delay-18 {
        -webkit-transition-delay: 1.8s;
        -o-transition-delay: 1.8s;
        transition-delay: 1.8s;
    }

    .fxt-transition-delay-19 {
        -webkit-transition-delay: 1.9s;
        -o-transition-delay: 1.9s;
        transition-delay: 1.9s;
    }

    .fxt-transition-delay-20 {
        -webkit-transition-delay: 2s;
        -o-transition-delay: 2s;
        transition-delay: 2s;
    }
}
/*========================================================================
8. Demo Layout Five
=========================================================================*/
.fxt-template-layout5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .fxt-intro {
        max-width: 500px;
        width: 100%;
        padding: 30px;

        .sub-title {
            font-weight: 300;
            font-size: 40px;
            color: #fff;
            line-height: 1.5;

            @media only screen and (max-width: 1199px) {
                font-size: 30px;
            }
        }

        h1 {
            font-size: 88px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 25px;
            text-shadow: 2px 2px 4px #000000;

            @media only screen and (max-width: 1199px) {
                font-size: 60px;
            }

            @media only screen and (max-width: 991px) {
                font-size: 50px;
            }
        }

        p {
            color: #fff;
        }
    }

    .fxt-content-between {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .fxt-bg-color {
        position: relative;
        max-width: 530px;
        background-color: #ffffff;
        min-height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 50px;
    }

    .fxt-bg-img {
        min-height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .fxt-header {
        text-align: center;
    }

    .fxt-form {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-bottom: 40px;

        h2 {
            font-weight: 700;
            margin-bottom: 5px;
        }

        p {
            margin-bottom: 30px;
            font-size: 17px;
        }

        .form-group {
            position: relative;
            z-index: 1;

            i {
                position: absolute;
                z-index: 1;
                right: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            [class^="flaticon-"]:before,
            [class*=" flaticon-"]:before,
            [class^="flaticon-"]:after,
            [class*=" flaticon-"]:after {
                margin-left: 0;
                font-size: 17px;
                color: #a1a1a1;
            }
        }

        .form-control {
            min-height: 40px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 0;
            border-bottom: 1px solid #e7e7e7;
            padding: 10px 30px 10px 10px;
            color: #111111;
        }

        input::-webkit-input-placeholder {
            color: #a1a1a1;
            font-size: 15px;
            font-weight: 300;
        }

        input::-moz-placeholder {
            color: #a1a1a1;
            font-size: 15px;
            font-weight: 300;
        }

        input:-moz-placeholder {
            color: #a1a1a1;
            font-size: 15px;
            font-weight: 300;
        }

        input:-ms-input-placeholder {
            color: #a1a1a1;
            font-size: 15px;
            font-weight: 300;
        }
    }

    .fxt-logo {
        display: block;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 40vw;

        @media only screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }

    .fxt-page-switcher {
        position: absolute;
        right: -97px;
        top: 100px;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 25px;

        @media only screen and (max-width: 767px) {
            position: inherit;
            right: inherit;
            top: inherit;
            -webkit-box-orient: inherit;
            -webkit-box-direction: inherit;
            -ms-flex-direction: inherit;
            flex-direction: inherit;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .switcher-text {
            color: #fff;
            font-size: 18px;
            padding: 10px 20px 10px 30px;
            border-radius: 0 45px 45px 0;
            width: 100%;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &.active {
                color: #000;
                background-color: #fff;
            }
        }

        .switcher-text.switcher-text1,
        .switcher-text.switcher-text2 {
            @media only screen and (max-width: 767px) {
                background-color: #eaeaea;
                color: #000;
                padding: 8px 25px;
                font-size: 16px;

                &.active {
                    color: #0e9d88;
                    background-color: #e4e4e4;
                }
            }
        }

        .switcher-text.switcher-text1 {
            @media only screen and (max-width: 767px) {
                border-radius: 0 45px 45px 0;
            }
        }

        .switcher-text.switcher-text2 {
            @media only screen and (max-width: 767px) {
                border-radius: 45px 0 0 45px;
            }
        }
    }

    .fxt-btn-fill {
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        font-weight: 500;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        border: 0;
        color: #fff;
        border-radius: 45px;
        background-color: #10b099;
        padding: 10px 36px;
        margin-bottom: 10px;
        margin-left: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #0e9d88;
            border-color: #0e9d88;
        }

        &:focus {
            outline: none;
        }
    }

    .switcher-text3 {
        position: absolute;
        left: 0;
        top: 0;
        padding: 2px 0;
        color: #9f9f9f;
        font-size: 15px;
        margin-top: 5px;
        display: block;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: #666;
        }

        &.active {
            color: #666;
        }
    }

    ul.fxt-socials {
        text-align: center;
        margin-bottom: 30px;

        @media only screen and (max-width: 767px) {
            margin-bottom: 10px;
        }

        li {
            display: inline-block;
            margin-left: 4px;
            margin-bottom: 5px;

            @media only screen and (max-width: 575px) {
                margin-left: 2px;
            }

            &:last-child {
                margin-left: 0;
            }

            a {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                font-size: 14px;
                height: 40px;
                width: 40px;
                color: #ffffff;
                border-radius: 50%;
                border: 1px solid;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }

        li.fxt-facebook {
            a {
                background-color: @fxt-facebook;
                border-color: @fxt-facebook;

                &:hover {
                    background-color: transparent;
                    color: @fxt-facebook;
                }
            }
        }

        li.fxt-twitter {
            a {
                background-color: @fxt-twitter;
                border-color: @fxt-twitter;

                &:hover {
                    background-color: transparent;
                    color: @fxt-twitter;
                }
            }
        }

        li.fxt-google {
            a {
                background-color: @fxt-google;
                border-color: @fxt-google;

                &:hover {
                    background-color: transparent;
                    color: @fxt-google;
                }
            }
        }

        li.fxt-instagram {
            a {
                background-color: @fxt-instagram;
                border-color: @fxt-instagram;

                &:hover {
                    background-color: transparent;
                    color: @fxt-instagram;
                }
            }
        }

        li.fxt-linkedin {
            a {
                background-color: @fxt-linkedin;
                border-color: @fxt-linkedin;

                &:hover {
                    background-color: transparent;
                    color: @fxt-linkedin;
                }
            }
        }

        li.fxt-pinterest {
            a {
                background-color: @fxt-pinterest;
                border-color: @fxt-pinterest;

                &:hover {
                    background-color: transparent;
                    color: @fxt-pinterest;
                }
            }
        }
    }

    .checkbox {
        padding-right: 5px;
        margin-bottom: 10px;

        label {
            padding-right: 20px;
            color: #a4a4a4;
            margin-bottom: 0;
            font-size: 15px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 16px;
                height: 16px;
                top: 4px;
                right: 0;
                margin-right: -5px;
                border: 1px solid;
                border-color: #dcdcdc;
                border-radius: 3px;
                background-color: #fff;
                -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            }

            &:after {
                position: absolute;
                margin-right: -20px;
                padding-right: 3px;
                font-size: 10px;
                color: #555555;
            }
        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]:checked+label::after {
            font-family: 'Font Awesome 5 Free';
            content: "\f00c";
            font-weight: 900;
            color: #ffffff;
            right: 15px;
            top: 4px;
        }

        input[type="checkbox"]:checked+label::before {
            background-color: #0e9d88;
            border-color: #0e9d88;
        }
    }

    .fxt-footer {
        text-align: center;
    }
}
